  <div class="wrapper fadeInDown">
  <div id="formContent">
    <div>
      <h2 class="active text-center">{{title}}</h2>
    </div>
    <!-- Tabs Titles -->
    <h2 class="active"> {{title2}} </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/img/user.svg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input [(ngModel)]="user.username" autocomplete="off" class="fadeIn second" type="text" name="login" id="login" placeholder="Usuario" autofocus required>
      <input [(ngModel)]="user.password" class="fadeIn third" type="password" name="login" id="password" placeholder="Password" required>
      <input (click)="login()" type="submit" class="fadeIn fourth" value="Log In">
    </form>

  </div>
</div>
