<div class="centrar">
  <div class="container mt-5">
    <h2>Buscador de Documentos Municipales</h2>
    <hr>
    <select [(ngModel)] ="searchTerm" (ngModelChange) ="search()" name="tipo" required="required" class="form" style="font-size: 22px">
      <option [ngValue]="undefined">Filtro - Tipo Documento</option>
      <option *ngFor="let tipo of tipos" [ngValue]="tipo">{{tipo.tipo}}</option>
    </select>
    <br>
    <input autocomplete="off" #termino type="text" (keyup)="buscar(termino.value)" type="text" name="buscar" id="buscar" required="required" class="form" style="font-size: 22px" placeholder="Buscar Documento.." />
  </div>
</div>

<div class="centrar2">
  <div class="card-group animated fadIn fast" *ngIf="show">
    <div *ngFor="let doc of docBus">
      <div class="container mt-3">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-header">Folio : {{doc.anio}} - {{doc.folio}}</h5>
          <br>
          <h6 class="card-subtitle mb-2 text-muted">Tipo : {{doc.tipoDocumento.tipo}}</h6>
          <h6 class="card-subtitle mt-2 text-muted">Estado : {{doc.estado}}</h6>
          <p class="card-text mt-2">Glosa: {{doc.glosa}}</p>
          <a [routerLink]="['/documents', doc.id]" type ="button" class="btn btn-info">Detalle</a>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="card-group animated fadIn fast" *ngIf="!show">
    <div *ngFor="let doc of fdocBus">
      <div class="container mt-3">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-header">Folio : {{doc.anio}} - {{doc.folio}}</h5>
          <br>
          <h6 class="card-subtitle mb-2 text-muted">Tipo : {{doc.tipoDocumento.tipo}}</h6>
          <h6 class="card-subtitle mt-2 text-muted">Estado : {{doc.estado}}</h6>
          <p class="card-text mt-2">Glosa: {{doc.glosa}}</p>
          <a [routerLink]="['/documents', doc.id]" type ="button" class="btn btn-info">Detalle</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
