<ul class="alert alert-danger" *ngIf="errors?.length > 0">
  <li *ngFor="let err of errors">
    {{ err }}
  </li>
</ul>
  <!-- Form Area -->
<div class="container mt-5">
  <h2>Creador de Documentos Municipales</h2>
  <hr>
  <div class="inner contact">
                      <!-- Form Area -->
                  <div class="contact-form">
                      <form onsubmit="this.reset()" #customerForm="ngForm" id="contact-us" autocomplete="off">

                          <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                            <div class="alert alert-danger" *ngIf="folio.invalid && (folio.dirty || folio.touched)">
                              <div *ngIf="folio.errors.required">
                                    El folio es requerido
                              </div>
                            </div>
                            <input type="text" name="folio" #folio="ngModel" id="folio" style="font-size: 22px" class="form" for="folio" [(ngModel)]="documents.folio" placeholder="Generación Automática" readonly/>

                              <select class="form" [compareWith]="compareTipo" [(ngModel)]="documents.tipoDocumento" (ngModelChange) ="setFolio()" required="required" name="tipoDocumento" style="font-size: 22px">
                                  <option [ngValue]="undefined">Tipo Documento</option>
                                  <option *ngFor="let tipo of tipos" [ngValue]="tipo">{{tipo.tipo}}</option>
                              </select>
                          </div>

                          <div class="alert alert-danger" *ngIf="glosa.invalid && (glosa.dirty || glosa.touched)">
                            <div *ngIf="glosa.errors.required">
                                  La Glosa es requerida
                            </div>
                          </div>
                          <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                              <textarea name="glosa" #glosa="ngModel" id="message" required="required" style="font-size: 22px" class="form textarea" for="glosa" [(ngModel)]="documents.glosa"  placeholder="Glosa"></textarea>
                          </div>
                          <!-- End Right Inputs -->
                          <div class="relative fullwidth col-xs-12">
                          <button type="submit" id="submit" name="submit" role="button" class="form-btn semibold" value="Crear Documento" (click)="create()" [disabled]="!customerForm.form.valid" *ngIf="false">Vista Previa</button>
                        </div>

                        <div>
                            <div class="relative fullwidth col-xs-12 mt-2" *ngIf="!documents.id else elseBlock">
                              <button type="submit" id="submit" name="submit" role="button" class="form-btn semibold" value="Crear Documento" (click)="create()" [disabled]="!customerForm.form.valid">Crear Documento</button>
                            </div>
                            <ng-template #elseBlock>
                              <div class="relative fullwidth col-xs-12 mt-2">
                                <button type="submit" id="submit" name="submit" role="button" class="form-btn semibold" value="Actualizar Documento" (click)="update()" [disabled]="!customerForm.form.valid">Actualizar</button>
                              </div>

                              <div class="relative fullwidth col-xs-12 mt-2">
                                <button type="submit" id="submit" name="submit" role="button" class="form-btn semibold" [routerLink]="['/gestor/page', 0]">Volver</button>
                              </div>
                            </ng-template>
                        </div>

                          <div class="clear"></div>
                      </form>
                  </div>
  </div>
</div>
