<div class="container" style="font-size: 22px">
  <h2 style="text-align: left">Listado de Documentos</h2>
  <hr>
  <div class="row">
    <div class="col">
      <div class="card border-primary mb-3">
          <div class="card-header">
              <div class="card-body text-primary">                 
                  <table class="table table-bordered table-striped text-center" *ngIf="documents?.length>0">
                      <thead>
                          <tr>
                              <th>Año</th>
                              <th>Folio</th>
                              <th>Tipo</th>
                              <th>Estado</th>
                              <th>Editar</th>
                              <th>Eliminar</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let doc of documents">
                              <td>{{ doc.anio }}</td>
                              <td>{{ doc.folio }}</td>
                              <td>{{ doc.tipoDocumento.tipo }}</td>
                              <td>{{ doc.estado }}</td>
                              <td>
                                <button class="btn btn-primary btn-block" type="button" [routerLink]="['/gestor', doc.id]" [disabled]="doc.estado === 'Firmado y Aprobado'">Editar</button>
                              </td>
                              <td>
                                <button class="btn btn-danger btn-block" type="button" (click)="delete(doc)" [disabled]="doc.estado === 'Firmado y Aprobado'">Eliminar</button>
                              </td>
                              </tr>
                      </tbody>
                  </table>
                  <div class="alert alert-info" *ngIf="documents?.length == 0">
                    No records in the DB
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
